/* setting body margin to 0 px */
body {
    margin: 0px;
    font-size: 30px;
    font-family: sans-serif;
}

/* Body Header */

#body-header {
    height: 65vh;
    opacity: 0.8;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

/* Horizontal Lists */

.horizontal-list {
    list-style: none;
    padding-left: 0px;
    /* font-size: 28px; */
    margin: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 10px 15px 15px 0px;
    font-weight: 100;
    font-size: 0.9rem;
}

.horizontal-list li a {
    color: white;
    text-decoration: none;
}

.nav-menu li a {
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover {
    color: lightgrey;
    border-bottom: 1px solid black;
}

.text-center {
    text-align: center;
}

/*Name and Social Icons*/

#name-social-container {
    margin-top: 20vh;
}

#my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li a i {
    padding: 12px;
    color: white;
    font-size: 1.5rem;
    border-radius: 50%;
    text-decoration: none;
}

.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px grey;
    text-decoration: none;
}

/* section classes */

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n) {
    background-color: rgb(237, 237, 237);
}

section:nth-child(2n+1) {
    background-color: white;
}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    /* margin: 10px auto; */
    font-weight: 400;
}

.section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

/*About Section*/

#about {
    height: auto;
    width: 100%;
    position: relative;
}

#my-image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}

#my-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    /* box-shadow: 1px 1px 10px 2px lightgrey; */
}

#my-image img:hover {
    box-shadow: 0px 0px 6px 4px lightgrey;
}

#about-me {
    padding: 10px;
    width: 70%;
    height: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-weight: 100;
    font-size: 1.1rem;
    overflow-wrap: break-word;
}

.text-highlight {
    font-weight: 600;
}

/* Skills section */

.skills {
    display: flex;
    /* flex-direction: row; */
}

.skills div {
    flex-direction: row;
}

.skill-display {
    width: 75%;
    height: 100%;
    /* border: 2px solid black; */
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-progress {
    width: 10rem;
    height: 2rem;
    background-color: lightgrey;
    border-radius: 0.8rem;
    box-shadow: 1px 2px 2px 1px #b9b9b9 inset;
    margin: 25px;
    overflow: hidden;
    /* border: 2px solid black; */
}

.skill-progress>div {
    border-radius: 20px 0px 0px 20px;
    /* box-shadow: 1px 1px 5px 2px #989882; */
}

.skill-name span {
    color: white;
    font-size: 1.1rem;
    /* margin-top: 4px; */
    margin-left: 15px;
    vertical-align: middle;
}

/* Portfolio section */

#portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 50px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.portfolio-image-container {
    max-width: 220px;
    overflow: hidden;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.portfolio-image-container img {
    width: 100%;
    height: 100%;
}

.portfolio-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 70%;
    color: transparent;
    text-align: center;
    padding: 10px;
}

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details {
    background-color: #80808078;
    color: white;
}

/* Work Experience */

.timeline {
    position: relative;
    width: 75%;
    font-size: large;
}

.timeline-heading {
    font-weight: 800;
    color: darkblue;
}

.timeline-heading-worklocation {
    font-weight: 600;
    color: darkred;
}

.timeline-box {
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    text-align: right;
    min-height: 150px;
    /* border: 2px solid black; */
}

.timeline-box::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: lightgrey;
    top: 22%;
    border-radius: 50%;
    z-index: 1;
}

.timeline-box:nth-child(2n) {
    left: 53%;
}

.timeline-box:nth-child(2n+1)::after {
    right: -13.8%;
}

.timeline-box:nth-child(2n):after {
    left: -10.6%;
}

.timeline-container {
    padding: 8px;
}

#timeline-divider {
    position: absolute;
    width: 0;
    top: 8%;
    left: 50%;
    border: 2px dashed #0096fa6b;
    height: 75%;
    color: #433E3f;
}

#timeline-divider .timeline-traveller {
    position: sticky;
    top: 135px;
    z-index: 2;
}

#timeline-divider i {
    transform: rotate(90deg);
    margin-top: -35px;
    display: block;
    color: #2857a4;
}

/* Contact Form */

#contact {
    background-color: #0abcf9;
    /* background-image: linear-gradient(50deg, #0c429a 0%, #1b132d 74%); */
    background-image: linear-gradient(50deg, black, darkblue);
    color: white;
    padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: white;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: white;
    font-size: 0.9rem;
}

.my-details-info-container span {
    margin-left: 0.4rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}

#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 1px solid white;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background-color: transparent;
    width: 90%;
    line-height: 1.5;
    font-size: 1rem;
}

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.9rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 0.04;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 10px 10px 10px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Coding Profiles */

/* #codingprofile {
    background-color: rgb(41, 31, 31);
} */

.coding-profiles {
    margin: 50px;
    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(255, 255, 255); */
}

/* Common Margin Classes */
.mb75px {
    margin-bottom: 75px;
}

.mb50px {
    margin-bottom: 50px;
}

.m0 {
    margin: 0;
}

.text-highlight {
    color: #2857a4;
    font-weight: 500;
}

/* Setting background color */
.m-blue {
    color: #2857a4;
}

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: orange;
}

.mb-teal {
    background-color: rgb(49, 194, 194);
}

/* Percentage-classes */

.eighty-five-percent {
    width: 85%;
    height: inherit;
}

.eighty-percent {
    width: 80%;
    height: inherit;
}

.seventy-percent {
    width: 70%;
    height: inherit;
}

.fifty-percent {
    width: 50%;
    height: inherit;
}
