/* setting body margin to 0 px */
body {
	margin: 0px;
}

/* Body Header */

#body-header{
	height: 65vh;
	opacity: 0.8;
	background-image: url(images/background.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

/* Horizontal Lists */

.horizontal-list{
	list-style: none;
	padding-left: 0px;
	font-size: 28px;
	margin: 0px;
}

.horizontal-list li{
	display: inline-block;
	margin: 10px 15px 15px 0px;
}

.horizontal-list li a{
	color: white;
	text-decoration: none;
}

.nav-menu li a{
	transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover{
	color: lightgrey;
	border-bottom: 1px solid black;
}

.text-center{
	text-align: center;
}

/*Name and Social Icons*/

#name-social-container{
	margin-top: 20vh;
}

#my-name{
	font-size: 4rem;
	letter-spacing: 0.1rem;
	color: white;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.social-icons li a i{
	padding: 18px;
	color: black;
	font-size: 2rem;
	border-radius: 50%;
	text-decoration: none;
}

.social-icons li a i:hover{
	box-shadow: 0px 0px 6px 4px grey;
	text-decoration: none; 
}

section{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section:nth-child(2n){
	background-color: rgb(237, 237, 237);
}

section:nth-child(2n+1){
	background-color: white;
}

.section-heading{
	width: auto;
	padding: 20px 10px 10px;
	/* margin: 10px auto; */
	font-weight: 400;
}

.section-heading span{
	font-size: 40px;
	color: #2857a4;
	display: inline-block;
	padding-top: 10px;
	margin-right: 0.5rem;
}

/*About Section*/

#about{
	height: auto;
	width: 100%;
	position: relative;
}

#my-image{
	height: 14rem;
	width: 14rem;
	margin: auto;
	margin-top: -17vh;
}

#my-image img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	/* box-shadow: 1px 1px 10px 2px lightgrey; */
}

#my-image img:hover{
	box-shadow: 0px 0px 6px 4px lightgrey;
}

#about-me{
	padding: 10px;
    width: 70%;
	height: 100%;
	margin:auto;
	font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-weight: 100;
	font-size: 1.1rem;
	overflow-wrap: break-word;
}


/* Skills section */

.skills{
	display: flex;
}

.skills div{
	flex-direction: column;
}

.skills-display{
	width: 70%;
	height: 100px;
	/* border: 2px solid black; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.skill-progress{
	width: 7rem;
	height: 1.4rem;
	background-color: lightgrey;
	border-radius: 0.8rem;
	/* border: 2px solid black; */
}

.skill-progress>div{
	border-radius: 20px 0px 0px 20px;
}

.skill-name span{
	color: white;
	font-size: 1rem;
	margin-top: 4px;
	margin-left: 10px;
}

/* Common Margin Classes */
.mb75px{
	margin-bottom: 75px;
}

.text-highlight{
	color: #2857a4;
	font-weight: 600;
}

.mb-blue{
	background-color: #2857a4;
}

/* Percentage-classes */

.eighty-five-percent{
	width: 85%;
	height: inherit;
}
